@*@model List<SelectListItem>*@
@{
    Layout = "";
}
@*<div class="script-tag">
    <script>
        function renderShippingOptionInfo(param) {
            if (param != "") {
                var _url = '/SelectedShippingPoint/Get?shippingOptionId=' + param;
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", _url, true);
                xhttp.send();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("shippingOptionInfo").innerHTML = this.responseText;
                    }
                };
            }
            else {
                document.getElementById("shippingOptionInfo").innerHTML = "";
            }
        }
    </script>
</div>

<h6>@Loc["Shipping.ShippingPoint.ChooseShippingPoint"]</h6>
<select class="form-control" name="data[selectedShippingOption]" onchange="renderShippingOptionInfo(value)">
    @foreach (var shippingOption in Model)
    {
        <option value="@shippingOption.Value">@shippingOption.Text</option>
    }
</select>

<div id="shippingOptionInfo"></div>*@

<div id="shippingOptionInfo"></div>

<iframe frameBorder="0" style="width: 100%; min-height: 500px;" src="https://api.dpd.cz/widget/latest/index.html?hideCloseButton=true"></iframe>

<input name="data[selectedShippingOptionId]" id="DPDPickupPointId" type="hidden" />
<input name="data[selectedShippingOptionDescription]" id="DPDPickupPointDescription" type="hidden" />
<input name="data[selectedShippingOptionObject]" id="DPDPickupPointObject" type="hidden" />
  
<div class="script-tag">
    <script>
        window.onmessage = function dpdHandler(event) {
            if (event.data.dpdWidget) {
                document.getElementById("DPDPickupPointId").value = event.data.dpdWidget.id;
                document.getElementById("DPDPickupPointDescription").value = event.data.dpdWidget.pickupPointResult;
                document.getElementById("DPDPickupPointObject").value = JSON.stringify(event.data.dpdWidget);

                document.getElementById("shippingOptionInfo").innerHTML = '<div class="alert alert-info" role="alert">' +
                    '@Loc["Shipping.DPD.ShippingPointName"]: ' +
                    event.data.dpdWidget.pickupPointResult +
                    '</div>';
            }
        };
    </script>
</div>